<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>얼굴 비교 Compare Faces</h1>      
    <p>아래의 인증 버튼을 클릭하세요. 10초 정도 시간이 걸리니 잠시만 기다려주세요.</p>
    <a href="http://localhost:8888/detect" class="btn btn-primary">인증</a>     
  </div>
</div>

</body>
</html>
